# IGNORED DIRECTORIES
/.vscode/*
/.idea/*
/vendor

# IGNORED FILES
.DS_Store
*.bak
*.code-workspace
*.env
# Test binary, built with go test -c
*.test
*.out
coverage.*
debug.*
debug

dist/gotest_d*
dist/gotest_l*
dist/gotest_w*
dist/config*
gotest
# dist/
